@font-face {
    font-family: 'SmileySans';
    src: url('fonts/SmileySans-Oblique.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#editor {
    font-family: 'SmileySans';
}