<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Android 13 及以上的新权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO " />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 读写外部存储 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_easy_note"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_easy_note_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyNoteDemo"
        tools:targetApi="31">
        <!--通用界面-->
        <activity
            android:name=".CommonActivity"
            android:exported="false"
            android:label="@string/title_activity_common"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EasyNoteDemo">
            <intent-filter>
                <action android:name="com.oxyethylene.COMMON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity><!-- 事件详情页面 -->
        <activity
            android:name=".EventActivity"
            android:exported="false"
            android:label="@string/title_activity_event"
            android:theme="@style/Theme.EasyNoteDemo"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.oxyethylene.EVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- "关于应用"界面 -->
        <activity
            android:name=".AppInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_app_info"
            android:theme="@style/Theme.EasyNoteDemo"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="com.oxyethylene.INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 文章编辑界面 -->
        <activity
            android:name=".EditActivity"
            android:exported="false"
            android:label="@string/title_activity_edit"
            android:theme="@style/Theme.EasyNoteDemo">
            <intent-filter>
                <action android:name="com.oxyethylene.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 设置界面 -->
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.EasyNoteDemo">
            <intent-filter>
                <action android:name="com.oxyethylene.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyNoteDemo"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>